#itemlist, #itemcreate {
  overflow-y: auto;
  overflow-x:hidden;
}

#itemcreate {
  background-color: var(--secondary);
  border-right: 5px solid var(--ternary);
}

#itemlist-header, #itemcreate-header {
  padding: 1em 0 1em 0;
}

#item-body, #modal-item-body {
  height: 30em;
}

.item-modal {
  color: black;
}

#form-item-submit {
  float:right;
}


/* itemlist Item */
.itemlist-item {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: var(--secondary);
  border: 3px solid var(--ternary);
  border-radius: 1em;
}

.itemlist-item-main, .itemlist-item-desc, .itemlist-item-actions, .itemlist-item-time {
  display:flex;
  align-items: center;
  padding: 0.3em 0 0.3em 0;
}

.itemlist-item-title {
  font-weight: bold;
  font-size:large;
  color: var(--primary-font);
  text-overflow:ellipsis;
}

.itemlist-item-body, .itemlist-item-datecreated {
  font-size:small;
  color: var(--secondary-font);
  text-overflow: ellipsis;
}

#item-modal-content {
  white-space: pre-line;
}

.itemlist-item-mark-complete {
  float: left;
  padding: 0px 1.5em 0px 1.5em;
}

.itemlist-item .form-check-input {
  background-color: var(--secondary-font);
  border: 1px solid gray;
}

.itemlist-item-expand {
  color: var(--primary-font);
  font-size:1.5em;
  cursor: pointer;
}

.itemlist-item-actions .dropdown-toggle::after {
  display: none;
}

.itemlist-item-actions .dropdown-menu {
  right: 0;
}
