:root {
  --main: #101111;
  --secondary: #242526;
  --ternary: #3a3b3c;
  --primary-font: #ffffff;
  --secondary-font: #bfbfbf;
  --test: #1b7ced;
  --test2: #f44336;
  --component-height: 55%;
}

#app-container {
  height: 100vh;
  max-width: inherit;
  overflow: hidden !important;
  background-color: var(--main) !important;
  color:  var(--primary-font);
}

#register-container {
  background-color: var(--secondary);
  border: 0.25em solid var(--ternary);
  border-radius:1rem;
}

.app-content {
  height: 80vh;
}


#app-navbar-header {
  font-size: 38px;
  padding-left: 2em;
  color: var(--test);
  font-weight:bold;
}

.app-navbar-link {
  margin: 0 1em 0 1em;
  color: var(--primary-font);
  text-decoration: none;
}

.app-navbar-link:hover {
  color: var(--secondary-font);
}

.loading-screen {
  position: fixed;
  left: 0;
  top:0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  justify-content: center;
  display:flex;
}

.loading-container {
  margin-top: 40vh;
  margin-bottom: 60vh;
}

.loading-icon{
  opacity: 100%;
  color: white;
  width: 3em;
  height: 3em;
  float:left;
  clear:both;
  margin-left: 0.5em;
}

.loading-text {
  padding-top: 1em !important;
  float:right;
  clear:both;
}

#event-calendar {
  color: black;
}

.calendar{
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.eventcolor{
  height: 60px;
}



.updateEvent {
  display: flex;
    justify-content: space-between;
}

.unassigned{
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}

.eventlists{
  color: var(--primary-font);
  padding: 15px;
  border: 2px solid var(--ternary);
  border-radius: 5px;
  background-color: var(--secondary);
}

.upcoming-events {
  color: var(--primary-font);
  padding: 15px;
  border: 2px solid var(--ternary);
  border-radius: 5px;
  background-color: var(--secondary);
}

/* For development purposes only */
.test {
  background-color: var(--test);
}

.test2 {
  background-color: var(--test2);
}


