:root {
  --main: #18191a;
  --secondary: #242526;
  --ternary: #3a3b3c;
  --primary-font: #ffffff;
  --secondary-font: #bfbfbf;
  --test: #1b7ced;
  --test2: #f44336;
  --component-height: 55%;
}

body {
  background-color: var(--main) !important;
  color: var(--primary-font) !important;
}

#app-container {
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow:hidden;
  position: absolute;
  left: 0;
}

.app-content {
  height: 80vh;
}

#app-navbar-header {
  font-size: xx-large;
  padding: 0 1em 0 1em;
}

/* For development purposes only */
.test {
  background-color: var(--test);
}

.test2 {
  background-color: var(--test2);
}