:root {
  --main: #1c1c1d;
  --secondary: #242526;
  --ternary: #3a3b3c;
  --primary-font: #ffffff;
  --secondary-font: #bfbfbf;
  --test: #1b7ced;
  --test2: #f44336;
  --component-height: 55%;
}

.maincontainer {
  width: 100%;
  background-color: var(--main) !important;
  color: var(--primary-font);
  display: flex;
  justify-content: center;

}


#app-container {
  height: auto;
  max-width: inherit;
  overflow:hidden;
  left: 0;
  margin: 1rem;
  background-color: var(--secondary) !important;
}

.app-content {
  height: 80vh;
}

#app-navbar-header {
  font-size: 38px;
  color: var(--test);
  font-weight:bold;
}

.app-navbar-link {
  margin: 0 1em 0 1em;
  color: var(--primary-font);
  text-decoration: none;
}

.app-navbar-link:hover {
  color: var(--secondary-font);
}

.calendar, .card{
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 5px;
}

.eventcolor{
  height: 60px;
}

.updateEvent {
  display: flex;
    justify-content: space-between;
}

.unassigned{
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}

.eventlists, .upcoming-events{
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--ternary);
  margin-bottom: 10px;
}

.upcoming-event-item {
  margin:0;
  border-radius: 5px;
  border: 1px solid var(--main);
  background-color: var(--secondary);
}

/* For development purposes only */
.test {
  background-color: var(--test);
}

.test2 {
  background-color: var(--test2);
}
